/*HeuiChan Lim*/

/* Style for main structure: header, body, and footer */
* { margin: 0; padding: 0; }
li { list-style: none; }
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: red;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
div.header {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background-color: #292924;
  position: relative;
}
div.main-body {
  text-align: center;
  background-image: url("http://combiboilersleeds.com/images/movie/movie-3.jpg");
  color: white;
  padding: 25px;
}
div.footer {
  height: 150px;
  width: 100%;
  margin-bottom: 0;   
  background-color: #292924;
  position: relative;
}

/* Actual content styles */
.header > .main-title {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  color: white;
  line-height: 80px;
  letter-spacing: 12px;
}
/* Style for navigation bars */
.header > .main-nav {
  position: absolute;
  right: 5px;
  top: 25px;
}
.main-nav > ul {
  overflow: hidden;
}
.main-nav > ul > li {
  float: left;
}
.main-nav > ul > li > a {
  display: block;
  padding: 5px 15px;
  margin-left: 5px;
  border: 1px solid white;
  font-size: 18px;
  border-radius: 10px 10px 10px 10px;
}
/*-------------------------*/
.main-body > #main-page-img {
  display: block; 
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.main-body > .main-button {
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid;
}
.main-body > .main-button:visited {
  color: white;
  font-weight: bold;
}
.main-body > .main-button:hover {
  font-weight: bold;
}
.main-body > .info-section {
  position: absolute;
  top: 280px;
  right: 50px;
  color: black;  
}
.main-body > .info-section > a {
  color: black;
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid black;
}
.main-body > .info-section > a:hover {
  color: red;
}
.main-body > .info-section > a:visited {
  color: black;
}
.main-body > #good-bye {
  position: absolute;
  right: 150px;
  bottom: 40px;
}
.main-body > #good-bye > h3 {
  font-style: italic;
}
.main-body > #end-page-img {
  top: 20px;
  right: 330px;
  position: relative;
}
.main-body > #trailer {
  position: absolute;
  right: 0;
  top: 130px;
}
.footer > .developer-info {
  color: white;
  left: 40%;
  top: 30%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
}
